blinker
certifi
charset-normalizer
click
decorator
Flask
Flask-SQLAlchemy
idna
itsdangerous
Jinja2
jsonpatch
jsonpath-rw
jsonpointer
MarkupSafe
ply
redfish
requests
requests-toolbelt
requests-unixsocket
six
SQLAlchemy
typing_extensions
urllib3
Werkzeug
